{% load staticfiles %}


<div id="construction" style="margin: 30px;" class="modal fade bs-example-modal-construction" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
              <div align="center" class="modal-header">
{#                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>#}
                <h3 class="modal-title" id="myModalLabel">come back soon</h3>
              </div>
              <div class="modal-body" align="center">

                  This form is under construction now. We are working on the creating group part now.

              </div>
              <div class="modal-footer" align="center">
                <button type="button" class="btn btn-warning btn-lg btn-block" data-dismiss="modal">whatever</button>
              </div>
        </div>
      </div>
</div>