{% extends "base.html" %}
{% load staticfiles %}

{% block title %}           {% endblock title %}
{% block extra_head %}      {% endblock extra_head %}

{% block content %}

    <div class="container" style="margin-top: 150px;">
    <div class="row row-centered">




    <div id="login" class="col-xs-6 col-centered col-fixed">
        <form method="post" action="." class="form-signin" role="form">
            {% csrf_token %}

            <table width="100%" border="0" cellspacing="5" cellpadding="5">
                {% for field in form %}

                       <tr><td style="padding: 5px;" width="90" align="right" valign="top">{{ field.label_tag }}</td>
                       <td align="left" valign="top"><span style="padding-left: 10px;">{{ field }}</span></td></tr>

                {% endfor %}
            </table>


        <br>


        <input class="btn btn-primary" role="button" type="submit" value="Log in">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Not member? <a href="{% url 'register' %}" class="btn btn-default" role="button">Register</a>

        </form>
    </div>



    <!-- Loser modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-loser">Winner modal</button>


    <!-- Winner modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-winner">Loser modal</button>



    </div>
</div>

{% endblock content %}

{% block foot %}

{% endblock foot %}