{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}           {% endblock title %}
{% block extra_head %}      {% endblock extra_head %}

{% block content %}

    <div class="container" style="padding-top: 100px;">
    <div class="row">
    <div class="col-md-8 col-md-offset-2">

        Create group

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}


            <div class="col-lg-7">
                <input id="btn_submit" class="btn btn-default btn-lg btn-block" type="submit" value="Submit">
            </div>

{#            <div class="row form_label">#}
{#  <div class="col-xs-3 col-sm-6 col-md-6" align="right">Category {{ form.category }}</div>#}
{#  <div class="col-xs-9 col-md-6"></div>#}
{#</div>#}
{#       <div class="row form_label">#}
{#  <div class="col-xs-3 col-sm-6 col-md-6" align="right">Group name {{ form.name }}</div>#}
{#  <div class="col-xs-9 col-md-6"></div>#}
{#</div>#}
{#     <div class="row form_label">#}
{#  <div class="col-xs-3 col-sm-6 col-md-6" align="right">Start date {{ form.start_date }}</div>#}
{#  <div class="col-xs-9 col-md-6"></div>#}
{#</div>#}
{#      <div class="row form_label">#}
{#  <div class="col-xs-3 col-sm-6 col-md-6" align="right">End date {{ form.end_date }}</div>#}
{#  <div class="col-xs-9 col-md-6"></div>#}
{#</div>#}
{#      <div class="row form_label">#}
{#  <div class="col-xs-3 col-sm-6 col-md-6" align="right">Goal {{ form.goal }}</div>#}
{#  <div class="col-xs-9 col-md-6"></div>#}
{#</div>#}
{#    <div class="row form_label">#}
{#  <div class="col-xs-3 col-sm-6 col-md-6" align="right"><input id="btn_submit" class="btn btn-primary" type="submit" value="Submit">#}
{#</div>#}
{#  <div class="col-xs-9 col-md-6"></div>#}
{#</div>#}


        </form>
</div>
    </div>
</div>
{% endblock %}