{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

    <div style="margin-top: 75px;">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="back_trans" style="margin: 20px; padding: 30px;">

            <h2>About this project</h2>
            <p style="font-size: 16px; letter-spacing: 1px;"><a href="http://challengepost.com/software/battlefit" target="_blank">
                <img style="float:left; padding-right: 20px; padding-bottom: 5px;" src="{% static 'img/old_bf2.jpg' %}"/></a>
            BattleFit began at Hero City Hackathon in November 2014 in San Mateo, California.
            We had 24 hours to build a health and fitness web app.
            It all started as a crazy question posed by one of our team members:
            what if it didn't matter which fitness wearable I owned compared to my friends?
            BattleFit is the answer:  social, engaging, and fun fitness!
            It no longer matters if you and your friends have the same brand of wearables
            and it no longer matters if you workout together or separately.
            With BattleFit your and your friends' workouts are tracked no matter what wearables you use.
            We won Best in Health & Fitness at the hackathon and pressed on in refining our product and enticing users.
            </p>
        </div>
    </div>




    <div class="col-md-10 col-md-offset-1">
        <div class="col-lg-4 col-md-4">
            <div class="about_block" align="center" >
                <img class="img-circle" src="{% static 'img/julian.gif' %}"/>

                    <h4 id="our_profile">Julian Ignaczak</h4>
                    <span>AWS Deployment</span><br><span>Ansible</span>
                <p></p>
                <a href="http://www.linkedin.com/pub/julian-ignaczak-iii/51/121/406/" target="_blank">
                <img style="width: 25px; margin: 10px;" src="{% static 'img/logo_linkedin.png' %}"/></a>
                <a href="https://github.com/j3py" target="_blank">
                <img style="width: 25px; margin: 10px;" src="{% static 'img/logo_github2.png' %}"/></a>
                <a href="mailto:j3pydev@gmail.com?subject=About BattleFit">
                <img style="width: 25px; margin: 10px;" src="{% static 'img/logo_gmail.png' %}"/></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="about_block" align="center" >
                <img class="img-circle" src="{% static 'img/pat.gif' %}"/>

                    <h4 id="our_profile">Patrick Seet</h4>
                    <span>Javascript</span><br><span>API Backend</span>
                <p></p>
                <a href="https://www.linkedin.com/in/pseet" target="_blank">
                 <img style="width: 25px; margin: 10px;" src="{% static 'img/logo_linkedin.png' %}"/></a>
                <a href="https://github.com/PatrickSeet" target="_blank">
                <img style="width: 25px; margin: 10px;" src="{% static 'img/logo_github2.png' %}"/></a>
                <a href="mailto:teeskcirtap@gmail.com?subject=About BattleFit">
                <img style="width: 25px; margin: 10px;" src="{% static 'img/logo_gmail.png' %}"/></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="about_block" align="center" >
                <img class="img-circle" src="{% static 'img/jeff.gif' %}"/>

                    <h4 id="our_profile">Jeff Ng</h4>
                    <span>Bootstrap</span><br><span>HTML CSS JQuery</span>
{#                    <span>Bootstrap</span>#}
                <p></p>
                <a href="https://www.linkedin.com/pub/jeff-ng/8/961/50/" target="_blank">
                 <img style="width: 25px; margin: 10px;" src="{% static 'img/logo_linkedin.png' %}"/></a>
                <a href="https://github.com/Jeffcwng" target="_blank">
                <img style="width: 25px; margin: 10px;" src="{% static 'img/logo_github2.png' %}"/></a>
                <a href="mailto:ng.jeffrey@gmail.com?subject=About BattleFit">
                <img style="width: 25px; margin: 10px;" src="{% static 'img/logo_gmail.png' %}"/></a>
            </div>
        </div>
    </div>



    </div>
    </div>
{% endblock content %}